<!DOCTYPE html>
<html>
  <head>
    <title>Billboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Billboard', root_path, class: 'navbar-brand' %>
      </div>
    </div>
  </div>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Billboard', root_path, class: 'navbar-brand' %>
      </div>
      <%= search_form_for @q, html: { class: 'navbar-form navbar-left' } do |f| %>
        <div class="form-group">
          <%= f.search_field :title_cont, class: 'form-control', placeholder: 'title' %>
        </div>
        <div class="form-group">
          <%= f.search_field :display_artist_cont, class: 'form-control', placeholder: 'display_artist' %>
        </div>
        <%= f.submit class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
